@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

/* Bruno falou que como regra ele quer afetar todos os elementos com o box sizing : border box */

* {
    box-sizing: border-box; /* tag usada porque dependendo do padding isso vi interferir em outros elementos e pode afetar o tamnaho de outros elementos */
}

:root { /* antes era invés de :root ---> html */
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    --color-primary: #ffc500;
    --default-padding: 1rem;
    
}

body {
    margin: 0;
    padding-top: 7.75rem; /*Demos um valor fixo a nossa nav bar e añnadimos esse valor ao nosso bod para ver todo o conteudo */
}

ul {
    display: flex;
    list-style: none;
}


.navbar {
    position: fixed;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    top: 0;
    left: 0;
    padding: 0 1rem; 
    width: 100vw;
    height: 7.75rem;
    background-color: #000;/* vermelho/ verde / azul / transparencia -0 - F*/;
    color: #FFF;
}

.navbar__links {
    justify-self: end;
}

.navbar__links li {
    font-size: 0.875rem;
    margin-right: 3rem; /* Valor de 10 pixels em rem = 10/16*/

}

.navbar__links a {
    font-weight: 300;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar__links a:hover {
    color: var(--color-primary)
}

.navbar__links li{
    font-weight: 300;
    margin-left: 1 rem;
}

.logo-studion {
    line-height: 1ch;
    font-size: 2.375rem; /* ou 38 pixels = 38/16 */
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
}

.logo-studion__subtitle {
    font-size: 0.875rem;
    font-weight: 300;
    align-content: right;
}

.copy-primary {
    color: var(--color-primary);
}

.slide h6{
    margin-top: 0;
    margin-bottom: 0;
}

/* forma 1 de importar a imagem
#slider {
    height: calc(100vh - 7.75rem);
    padding: var(--default-padding);
    background-image: url('./images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000;
    color: #fff;
}
*/
#slider {
    
    background-color: #000;
    color: #fff;
}

.slide {
    position: relative;
    height: calc(100vh - 7.75rem);
}

.slide__background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; /* até aqui nosso conteudo sumiu colocamos nosso conteudo num div */
}


.slide__copy {
    position: absolute;
    top: 5rem;
    left: 50vw;
}

.copy--primary {
    color: var(--color-primary);
}

 .slide__copy h6 {
     font-size:  .9378rem /* 15 px */;
     font-weight: 400;
     text-transform: uppercase;
     letter-spacing: .1875rem;
 }


 .slide__copy h2 {
     margin: 2.75rem 0rem;
     font-size: 6.25rem;
     line-height: 6.25rem ;
     letter-spacing: 0.4rem; /*revisar*/
     text-transform: uppercase;
 }

 .btn   {
     cursor: pointer;
     font-family: montserrat;
     padding: 1rem 2.5rem;
     border: .125rem solid #fff;
     border-radius: 10rem ;
     background: unset;
     color: var(--color-primary);
     font-size: .9378rem /* 15 px */;
     font-weight: 700;
     text-transform: uppercase;
     transition: 0.5s all ease;
 }

 .btn:hover, /* para navegador desktop */
 .btn:active, /* para navegador celular */
 .btn:focus {
     border-color: fff;
     background-color: var(--color-primary);
     color: #fff;

 }

