@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Roboto&display=swap');

/* Bruno falou que como regra ele quer afetar todos os elementos com o box sizing : border box */

* {
    box-sizing: border-box; /* tag usada porque dependendo do padding isso vi interferir em outros elementos e pode afetar o tamnaho de outros elementos */
}

:root { /* antes era invés de :root ---> html */
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    --color-copy: #333333;
    --color-primary: #ffc500;
    --default-padding: 1rem;
    color: var(--color-copy);
    
}

header,
main,
footer {

overflow-x: hidden; /*Faz com que a pagina ocupe todo o espaco horizontal */
}

body {
    margin: 0;
    padding-top: 7.75rem; /*Demos um valor fixo a nossa nav bar e añnadimos esse valor ao nosso bod para ver todo o conteudo */
}

.container {
    width: 1140px;
    margin: 0 auto; /*isto centraliza os elementos */
}

ul {
    display: flex;
    list-style: none;
}

.navbar {
    position: fixed;
    z-index: 1;
    top: 0; /* fixa a nav bar no topo e na esq */
    left: 0;
    width: 100%;
    background-color: #000;/* vermelho/ verde / azul / transparencia -0 - F*/;
    color: #FFF;
}

.navbar__container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    padding: 0 1rem; 
    /*width: 100vw; * a barra só delimitou para 1140px quando tirei esta propieda*/
    height: 7.75rem;
    
}

.navbar__links {
    justify-self: end;
}

.navbar__links li {
    font-size: 0.875rem;
    margin-right: 3rem; /* Valor de 10 pixels em rem = 10/16*/

}

.navbar__links a {
    font-weight: 300;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar__links a:hover {
    color: var(--color-primary)
}

.navbar__links li{
    font-weight: 300;
    margin-left: 1 rem;
}

.logo-studion {
    line-height: 1ch;
    font-size: 2.375rem; /* ou 38 pixels = 38/16 */
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
}

.logo-studion__subtitle {
    font-size: 0.875rem;
    font-weight: 300;
    align-content: right;
}

.copy-primary {
    color: var(--color-primary);
}

.slide h6{
    margin-top: 0;
    margin-bottom: 0;
}

/* forma 1 de importar a imagem
#slider {
    height: calc(100vh - 7.75rem);
    padding: var(--default-padding);
    background-image: url('./images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000;
    color: #fff;
}
*/
#slider {
    
    background-color: #000;
    color: #fff;
}

.slide {
    position: relative;
    height: calc(100vh - 7.75rem);
}

.slide__background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; /* até aqui nosso conteudo sumiu colocamos nosso conteudo num div */
}


.slide__copy {
    position: absolute;
    top: 5rem;
    left: 50vw;
}

.copy--primary {
    color: var(--color-primary);
}

 .slide__copy h6 {
     font-size:  .9378rem /* 15 px */;
     font-weight: 400;
     text-transform: uppercase;
     letter-spacing: .1875rem;
 }


 .slide__copy h2 {
     margin: 2.75rem 0rem;
     font-size: 6.25rem;
     line-height: 6.25rem ;
     letter-spacing: 0.4rem; /*revisar*/
     text-transform: uppercase;
 }

 .btn   {
     cursor: pointer;
     font-family: montserrat;
     padding: 1rem 2.5rem;
     border: .125rem solid #fff;
     border-radius: 5rem ;
     background: unset;
     color: var(--color-primary);
     font-size: .9378rem /* 15 px */;
     font-weight: 700;
     text-transform: uppercase;
     transition: 0.5s all ease;
 }

 .btn:hover, /* para navegador desktop */
 .btn:active, /* para navegador celular */
 .btn:focus,
 .btn__institutional {

     border-color: var(--color-primary);
     background-color: var(--color-primary);
     color: #fff;

 }

 #counter   {
     background-color: var(--color-primary);
     color: #fff;
     text-transform: uppercase;

 }

 .counter__container    {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) ); /*comportamento padrao do grid é fazer grids verticals */
     place-items: center; 
     padding: 4.375rem 1rem;
 }

 .counter__container h3   {
     font-size: 2.1875rem;
     letter-spacing: 0.125rem;
    
 }

 .counter__container h3  small {
    font-size: 1.25rem;
    display: block;

 }

.institutional {
   display: grid;
   grid-template-columns: auto auto;
   align-items: center;
    gap: 3.125rem;
    padding: 4.375rem ;
}


.institutional__copy {
    padding: 0 1.875rem;
 
}

.institutional__copy h6 {
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: .1rem;
    margin: 0;
    
}

.institutional__image {
    width: auto;
}
.institutional__copy h4 {

    font-size: 1.5rem;
    margin-top: 1rem;
}

.institutional__image {
    max-width: 550px;
}

.institutional__copy p {
    font-family: 'roboto', sans-serif;
    font-size: 1.0625rem;
    line-height: 1.6875rem; 
    margin-bottom: 0;
    margin-bottom: 2.5rem;  
}

.btn__institutional {
    color: var(--color-copy);
    background: unset;
    border-color: var(--color-copy);

}
.quote {
    background-image: url(./images/parallax.jpg);
    height: 677px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
}

.quote__container{
display: grid;
align-items: center;
justify-items: end;
min-height: 80vh;

}

.quote__copy {
    background-color: #fff;
    padding: 5.625rem 3.125rem 5.625rem 4.1rem;
   
}

.quote__copy h6 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9375rem;
    letter-spacing: .1875rem;
    line-height: 1.4375rem;
    margin: 0;
    max-width: 51ch;
    }

.quote__copy h2 {
    font-size: 5rem;
    margin: 0;
    letter-spacing: -.1875;
   line-height: 80px;
   margin: 1.875rem 0rem;
   color: #000;

}

.btn__quote {
    color: var(--color-copy);
    border-color: #000;
    background: unset;
    padding: 18px;
}


   
